h1 {
  text-align: center;
}

.container {
  padding: 30px;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 20px auto;
}

.searchbar {
  text-align: center;
  padding: 30px;
}

input[type="text"] {
  width: 200px;
  height: 30px;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  height: auto;
  justify-content: center;
  margin: 20px;
}

.card {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  width: 150px;
  display: flex;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.1s;
}

.card img {
  width: 100px;
}

.card:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.card p {
  text-align: center;
}